@font-face {
    font-family: 'Nabla';
    src: url('fonts/Nabla-Regular.eot');
    src: url('fonts/Nabla-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nabla-Regular.woff2') format('woff2'),
        url('fonts/Nabla-Regular.woff') format('woff'),
        url('fonts/Nabla-Regular.ttf') format('truetype'),
        url('fonts/Nabla-Regular.svg#Nabla-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:'Poppins';
    src: url('fonts/Poppins-Black.ttf');
    src: url('fonts/Poppins-BlackItalic.ttf');
    src: url('fonts/Poppins-BoldItalic.ttf');
    src: url('fonts/Poppins-Bold.ttf');
    src: url('fonts/Poppins-ExtraBold.ttf');
    src: url('fonts/Poppins-ExtraBoldItalic.ttf');
    src: url('fonts/Poppins-ExtraLight.ttf');
    src: url('fonts/Poppins-ExtraLightItalic.ttf');
    src: url('fonts/Poppins-Italic.ttf');
    src: url('fonts/Poppins-Light.ttf');
    src: url('fonts/Poppins-Medium.ttf');
    src: url('fonts/Poppins-MediumItalic.ttf');
    src: url('fonts/Poppins-Regular.ttf');
    src: url('fonts/Poppins-SemiBold.ttf');
    src: url('fonts/Poppins-SemiBoldItalic.ttf');
    src: url('fonts/Poppins-Thin.ttf');
    src: url('fonts/Poppins-ThinItalic.ttf');
}